.about-content {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
  margin: 4rem 0;
}

.about-img {
  height: 30rem;
  width: 40%;
  object-fit: cover;
}

.story {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    width: 6rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: $clr-grey-1;
    white-space: nowrap;
    border-bottom: 4px solid $clr-primary-5;
  }

  &__text {
    color: $clr-grey-5;
    width: 100%;
    line-height: 2rem;
  }
}
