.title-block {
  color: $clr-primary-1;
  background-color: $clr-primary-10;
  height: 10em;
  width: 100%;

  &__container {
    display: grid;
    align-items: center;
    padding: 0 2.5em;
  }
}

.title {
  font-size: 2.5em;
  font-weight: 600;
}

.content {
  display: grid;
  grid-template-columns: 12.5em 1fr;
  gap: 1.5em;
  margin: 4em auto;
  padding: 0 1.25em;
}

.form {
  display: grid;
  row-gap: 1.2em;
}

._sticky {
  position: fixed;
  top: 2em;
}

.search-content {
  position: relative;
}

.clear-search {
  position: absolute;
  background-image: url(../images/clear.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.6em;
  top: 0.35em;
  right: 1.5em;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $clr-grey-3;
    filter: invert(1);
  }
}

.search {
  justify-self: center;
  background-color: $clr-grey-10;
  border: none;
  height: 2.4em;
  width: 90%;
  border-radius: .3em;
  padding: .3em .7em;

  &::placeholder {
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: 0.06em;
  }
}

.category {
  display: grid;
  row-gap: 0.6em;

  &__item {
    display: grid;
    align-items: center;
    justify-self: start;
    font-size: 0.8em;
    background-color: inherit;
    color: $clr-grey-5;
    padding: 0;
    &:hover {
      border-bottom: 1px solid $clr-grey-5;
    }
  }
}

.subtitle {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  color: $clr-grey-1;
}

.company {
  display: grid;
  row-gap: 0.6em;

  &__select {
    font-size: 0.75em;
  }
}

.colors {
  display: grid;
  row-gap: 0.6em;
  width: 80%;

  &__button {
    display: grid;
    column-gap: 0.2em;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
  }

  &__item {
    display: grid;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 1.3em;
    height: 1.3em;
    font-size: 0.8em;
    border: none;
    border-radius: 0.65em;
  }
}

.red {
  background: rgb(255, 0, 0);
  opacity: 0.5;
}

.green {
  background: rgb(0, 255, 0);
  opacity: 0.5;
}

.blue {
  background: rgb(0, 0, 255);
  opacity: 0.5;
}

.black {
  background: rgb(0, 0, 0);
  opacity: 0.5;
}

.yellow {
  background: rgb(255, 255, 0);
  opacity: 0.5;
}

.price,
.amount {
  display: grid;
  row-gap: 0.6em;

  &__line {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__start {
    color: $clr-grey-3;
    justify-self: start;
  }

  &__end {
    color: $clr-grey-3;
    justify-self: end;
  }
}

.popular {
  color: $clr-grey-3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.reset {
  width: 10em;
  height: 2em;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.06em;
  background-color: $clr-grey-1;
  color: $clr-white;
}



.products {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;

  &__setting {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto /*auto*/ 1fr auto;
    column-gap: 1.5em;
  }

  &__sort {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.5em;
  }
}
.view-switchers {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
}

.view {
  width: 1.7em;
  height: 1.7em;
  border: 0.06em solid $clr-black;
  justify-self: center;
  padding: 0.2em;
  border-radius: 0.2em;
  background-repeat: no-repeat;
}

.amount-number {
  font-weight: 500;
}

.sort-text {
  align-self: center;
}

